<%= form_for :idea, url: ideas_path do |f| %>
  <% if @idea.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@idea.errors.count, "error") %> some errors occured while saving this idea:</h2>
    <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>