<h1>All Ideas review</h1>
 
<table>
  <tr>
    <th>Idea's title</th>
    <th>Description</th>
    <th colspan="2">Action</th>
  </tr>
 
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    </tr>
  <% end %>
</table>