<h2 class='title'>Zaloguj się</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Hasło', class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Zapamiętaj mnie' %></div>
  <% end -%>

  <div><%= f.submit "Sign in" ,class: 'btn btn-primary'%></div>
<% end %>

<div class="well well-sm helper-links">
  <%= render "devise/shared/links" %>
</div>