<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Pomysłodajnia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">O Pomysłodajni</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio BIT IF</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <%= image_tag("profile.png", :alt => "") %>
                <div class="intro-text">
                    <span class="name">POMYSŁODAJNIA</span>
                    <hr class="star-light">
                    <span class="skills">Masz pomysł, ale nie wiesz jak go zrealizować?</span></br></br>
                    <span class="skills">Przynieś go nam, a my pomożemy Ci odnieść wymarzony sukces!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="slogan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Czy kiedykolwiek?</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 text-center col-lg-offset-2">
                <span class="slogan">Czy Twoja głowa aż roi się od przeróżnych pomysłów? Chciałbyś zrezlizować któryś z nich, ale nie masz pewności czy to wypali?</span>
                <%= image_tag("thinking.png", :class => "img-responsive", :style => "max-width: 500px; margin: 20px auto;") %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 text-center col-lg-offset-2">
                <div style="margin: 0 auto">
                    <span class="slogan">U nas znajdziesz chętnych do współpracy i przekonasz się jak dobry jest Twój pomysł!</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>O Pomysłodajni</h2>
                <hr class="star-light">
                <span class="motivate">Nie wstydź się swojej kreatywności! <br />
                                       Wrzuć pomysł na Pomysłodajnię!</span></br></br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <p>Jesteśmy liczną grupą studentów-developerów z sekcji IdeaFactory koła BIT AGH, którzy chętnie zrealizują Twój pomysł. </p> 
                <p>Ile będziesz musiał nam zapłacić? Dokładnie nic! Studenci szukają doświadczenia i&nbspchętnie pomogą właśnie Tobie! Dlaczego więc Pomysłodajnia?</p>
                <p> Chcemy pomagać innym przy okazji ucząc się, brzmi świetnie? My jesteśmy chętni do pracy, a Wy jesteście pełni pomysłów. Pomysłodajnia łączy te dwie grupy ludzi. To musi się udać!</p>
            </div>
            <div class="col-lg-5">
                <p>Dlaczego to działa?</p>
                <p>Pomysłodajnia to miejsce, w którym możesz przedstawić swój pomysł, a my go zrealizujemy. Gdzie więc haczyk?</p>
                <p>Najtrudniejsze w tym wszystkim, to wybrać te DOBRE i&nbspwarte zaangażowania pomysły.</p>
                <!-- <p>Każdy z Was może głosować na już istniejące pomysły, a my zrealizujemy te najwyżej oceniane.</p> -->
                <p>KAŻDY Z WAS MOŻE GŁOSOWAĆ NA JUŻ ISTNIEJĄCE POMYSŁY, A MY ZRELAIZUJEMY TE NAJWYŻEJ OCENIANE.</p>
            </div>
        </div>
        <div class="row text-center">
            <br><span class="motivate">To Wy wybieracie Pomysły, które my realizujemy!</span>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio BIT IF</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/cabin.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/obieraki.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/cake.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/cake.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/circus.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/circus.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/game.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/getintime.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/safe.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/codemorph.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <!-- <img src="img/portfolio/submarine.png" class="img-responsive" alt="" /> -->
                    <%= image_tag "portfolio/pomyslodajnia.png", class: "img-responsive", :alt => "" %>
                </a>
            </div>
        </div>
        <div class="row text-center">
            </br><span class="slogan">To tylko kilka z wielu projektów realizowanych przez nas, dowiedz się więcej na <a href="http://knbit.edu.pl/pl/">KN BIT</a>.<br/>
        </div>
    </div>
</section>


<section id="contact" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Napisz do nas</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <form role="form">
                    <div class="row">
                        <div class="form-group col-xs-12 floating-label-form-group">
                            <label for="name">imię</label>
                            <input class="form-control" type="text" name="name" placeholder="imię">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 floating-label-form-group">
                            <label for="email">email</label>
                            <input class="form-control" type="email" name="email" placeholder="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 floating-label-form-group">
                            <label for="message">wiadomość</label>
                            <textarea placeholder="wiadomość" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-lg btn-success">Wyślij</button>
                        </div>
                    </div>
                </form> -->
                <br/><br/><span><a class="contact-mail" href="mailto:pomyslodajnia@knbit.edu.pl?Subject=Kontakt" target="_top">pomyslodajnia@knbit.edu.pl</a></span>

                <br/><br/><br/></br><span class="slogan">Startujemy we wrześniu, ale chętnie usłyszymy o Twoich pomysłach już teraz! <br/>
            </span>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Kim Jesteśmy</h3>
                    
                    <p> <a href="http://www.pomyslodajnia.knbit.edu.pl">Pomysłodajnia</a> @ <a href="http://www.if.org.pl/">IdeaFactory</a> @ <a href="http://knbit.edu.pl/pl/">BIT</a></p>
                    <p> @ <a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Pomysłodajnia w sieci</h3>
                    <ul class="list-inline">
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>O <a href="http://www.if.org.pl/">IdeaFactory</a></h3>
                    <p>IF to sekcja Koła Naukowego BIT, która łączy entuzjastów informatyki chętnych do tworzenia ciekawych projektów, organizowania warsztatów i&nbspstudy groups, a&nbsptakże do wspólnego spędzania wolnego czasu :)!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2014 - Pomysłodajnia IF BIT
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2><a href="http://knbit.edu.pl/pl/projekty/7/obieraki">Obieraki</a></h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/obieraki.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>Przedmioty obieralne to fajna sprawa. Z kilku bloków wybierasz ten, który Ciebie najbardziej interesuje. Jednak nie zawsze na wszystkie przedmioty jest nieograniczona liczba miejsc i&nbsptrzeba wybrać studentów według średniej ocen.</p>
                        <p>Dzięki systemowi <a href="http://knbit.edu.pl/pl/projekty/7/obieraki">Obieraki</a> sam ustalasz, które przedmioty najbardziej Ciebie interesują, a&nbspnastępnie algorytm szereguje studentów tak, aby każdy trafił tam gdzie chce.</p>
                        <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></strong>
                            </li>
                            <li>Data: <strong>Kwiecień 2014</strong>
                            </li>
                            <li>Serwis: <strong>Aplikacja Webowa</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Enrollme</h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/cake.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>Studenci wielu uczelni często męczą się z&nbspUSOSem, aby zapisać się na zajęcia. Na naszym wydziale (AGH IEiT) nie mamy z&nbsptym żadnych problemów, a&nbspwszystko dzięki systemowi <strong>EnrollMe.</strong></p>
                        <p>Po prostu dobierasz punkty do zajęć w zależności od tego jak bardzo Ci się dane zajęcia/termin zajęć odpowiada i&nbspsam sobie ustawiasz plan! Algorytm uwzględnia preferencje wszystkich studentów i&nbsprozmieszcza ludzi na poszczególne terminy tak, aby wszyscy byli jak najbardziej zadowoleni. Wolny piątek? Nic trudnego! :)</p>
                        <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></strong>
                            </li>
                            <li>Data: <strong>Luty 2013</strong>
                            </li>
                            <li>Serwis: <strong>Aplikacja Webowa</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2><a href="http://knbit.edu.pl/pl/projekty/9/karmnik">Karmnik</a></h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/circus.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>Zbliża się sesja? A&nbspmoże zanim zaczniesz się uczyć jedna partyjka w Literaki na Kurniku? Szkoda że trzeba czekać na wolny stół...</p>
                        <p>To może spróbuj <a href="http://knbit.edu.pl/pl/projekty/9/karmnik">Karmnik</a>? Wchodzisz, klikasz i&nbspgrasz w szybkie minigry. A właśnie, ciągle staramy się zwiększać liczbę gier ;).</p>
                        <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></strong>
                            </li>
                            <li>Data: <strong>W trakcie realizacji</strong>
                            </li>
                            <li>Serwis: <strong>Aplikacja Webowa</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>GetInTime</h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/game.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/getintime.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>Na potrzeby około 20 osobowego zespołu oraz hierarchicznej struktury pracowników tworzymy system mający w prosty&nbspi intuicyjny sposób zapewnić możliwość tworzenia, przydzielania i&nbspzarządzania różnymi zadaniami. W&nbsppóźniejszych wersjach dojdą do tego m.in. tworzenie różnych rodzajów raportów&nbspi notyfikacji.</p>
                        <p>Zarządzanie czasem już nigdy nie będzie prostsze, a&nbspwszystko dzięki <a href="http://knbit.edu.pl/pl/projekty/8/getintime">GetInTime</a>!</p>
                        <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="https://www.getinbank.pl/">Katowicki oddział GetIn Bank</a></strong>
                            </li>
                            <li>Data: <strong>W trakcie realizacji</strong>
                            </li>
                            <li>Serwis: <strong>Aplikacja Webowa</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CodeMorph</h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/codemorph.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>CodeMorph jest narzędziem developerskim. Jego główna część to analizator, który potrafi porównać dwie wersje tej samej części kodu i&nbspjako wynik zwrócić hierarchiczny ciąg przekształceń, pomiędzy pierwszą i&nbspdrugą wersją kodu. W&nbspkolejnym etapie, wcześniej uzyskany zestaw przekształceń zostaje zamieniony na przyjazną formę do czytania.</p>
                        <p>Od teraz code review to czysta przyjemność!</p>
                        <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></strong>
                            </li>
                            <li>Data: <strong>W trakcie</strong>
                            </li>
                            <li>Serwis: <strong>Plugin</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Pomysłodajnia</h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt=""> -->
                        <%= image_tag "portfolio/pomyslodajnia.png", class: "img-responsive img-centered", :alt => "" %>
                        <p>Jesteśmy liczną grupą studentów-developerów z sekcji IdeaFactory koła BIT AGH, którzy chętnie zrealizują Twój pomysł. </p> 
                <p>Ile będziesz musiał nam zapłacić? Dkoładnie nic! Studenci szukają doświadczenia i&nbspchętnie pomogą właśnie Tobie! Dlaczego więc Pomysłodajnia?</p>
                <p> Chcemy pomagać innym przy okazji ucząc się, brzmi świetnie? My jesteśmy chętni do pracy, a&nbspWy jesteście pełni pomysłów. Pomysłodajnia łączy te dwie grupy ludzi. To musi się udać!</p>
                         <ul class="list-inline item-details">
                            <li>Klient: <strong><a href="http://ki.agh.edu.pl/">Katedra Informatyki AGH</a></strong>
                            </li>
                            <li>Data: <strong>W trakcie realizacji</strong>
                            </li>
                            <li>Serwis: <strong>Aplikacja Webowa</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>