<h2>Zmień swoje hasło</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Nowe hasło", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Powtórz nowe hasło", class: "form-control"  %>
    </div>
  </div>

  <div><%= f.submit "Change my password",  class: "btn btn-primary" %></div>
<% end %>

<div class="well well-sm helper-links">
  <%= render "devise/shared/links" %>
</div>
      