<h2>Zapomniałeś hasła?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control" %>
    </div>
  </div>

  <div><%= f.submit "Send me reset password instructions", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
