.logo-small {
  max-width: 35px;
  margin: 0px 15px;
}
/*
.full-page {
  padding: 69px 0px;
}*/

html, body, header.full-page {
  height: 100%;
}

header.full-page {
  padding: 30px 0px;
}

.helper-links {
  margin: 10px auto;
  min-width: 350px;
  max-width: 350px;
  overflow: hidden;
}
/*
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}*/