<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o link do zmiany hasła dla konta podpiętego do tego maila.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie byłeś tym zignoruj ten email.</p>
<p>Twoje hasło pozostanie takie samo dopóki nie klikniesz w powyższy link i nie zmienisz hasła.</p>
