<p>Witaj <%= @resource.email %>!</p>

<p>Przepraszamy, ale Twoje konto zostało zablokowoane ze względu na zbyt dużą ilość niepoprawnych prób zalogowania.</p>

<p>Kliknij w link poniżej aby odblokować konto:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, unlock_token: @token) %></p>
