<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control"  %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Hasło (pozostaw to pole puste jeśli nie chcesz go zmieniać)', class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
     <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Powtórz hasło', class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Aktualne hasło (potrzebujemy je aby potwierdzić Twoje zmiany)', class: "form-control"  %>
    </div>
  </div>

  <div><%= f.submit "Update", class: "btn btn-primary"  %></div>
<% end %>

<h3>Usuń moje konto</h3>

<p>Niezadowolony z naszego serwisu? <%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewien?" }, method: :delete %></p>

<%= link_to "Wstecz", :back %>
