<h2 class='title'>Zarejestruj się</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if !resource.errors.empty? %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="alert alert-danger fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
        <h4>Nie udało się zarejestrować!</h4>
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-4">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Hasło', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4 col-sm-offset-4">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Powtórz hasło', class: "form-control" %>
    </div>
  </div>

  <div><%= f.submit "Wyślij",  class: "btn btn-primary" %></div>
<% end %>

<div class="well well-sm helper-links">
  <%= render "devise/shared/links" %>
</div>
      